*{
  margin: 0;
  padding: 0;
}

/* //////////// Header ///////////////// */

.main-container {
  height: 70px;
  width: 100%;
  /* background-color: aqua; */
}

.logo-div {
  width: 18%;
  margin-left: 10px;
  margin-right: 1px;
}

.logo-img {
  width: 150px;
  height: 50px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar .search-input, .search-icon {
  color: #696e79;
  background-color: #f5f5f6;
}

.search-bar {
  display: flex;
  /* margin-left:10px; */
  /* min-width: 100px; */
  align-items: center;
  /* justify-content: center; */
}

.search-input {
  display: flex;
  font-size: 13px;
  width: 625px;
  height: 40px;
  border: none;
  margin-bottom:4px;
  flex-grow: 1;
  border-radius: 3px 0px 0px 3px;
}

.search-icon {
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  padding: 2px;
  border-radius: 0px 4px 4px 0px;
  padding: 2px

}

.search-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  margin-top: 20px;
}

.book-card {
  width: 200px; /* Adjust the card width as needed */
  margin-bottom: 20px; /* Adjust the margin as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-img img {
  width: 100%;
  height: auto;
  /* object-fit: cover;
  border-radius: 5px; */
}

.icon-right {
  display: flex;
  width: 20%;
  /* gap: 10px; */
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
  margin-bottom: 5px;
  /* padding: 20px 10px; */
}

.icon-right button {
  border: none;
  background-color: #fff;
}

/* .search-input {
  /* font-size: ; 
} */

span {
  color: black;
}


/* //////////////// Image Slider ////////////// */

.carousel-item img {
  width: 100%;
  height: 400px;
  display: flex;
  object-fit: cover;
  object-position: center;
}

#carouselExampleSlidesOnly {
  margin-bottom: 55px;
}


/* /////////////GENRES ///////////// */
.genre-title, .new-arrivals-title {
  margin-left: 10px;
  margin-top: 10px;
  
}

.new-arrivals-title {
  margin-top: 90px;
  /* border: 1px solid black; */
}

.author-title {
  margin-top: 62px;
  margin-left: 10px;
}

.main-genre-container, .main-author-container {
  margin-top: 10px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-genre-container {
  border: 1px solid #838891;
  border-left: white;
  border-right: white;
}

.main-author-container .logo-and-text a img {
  border: none;
}

.main-genre-container img {
  border: 1px solid #838891;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  
}

.main-author-container img {
  border: 1px solid #838891;
  width: 60px;
  height: 50px;
  border-radius: 50%;
  
}

.main-genre-container .logo-text {
  font-size: 11px;
}

.main-genre-container .logo-and-text a {
  color: #696e79;
  text-decoration: none;
}

.main-author-container .logo-and-text a {
  color: #696e79;
  text-decoration: none;
}


/* ///////////  Best Sellers  ///////////// */
.best-seller-main, .new-arrivals-main {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  justify-content: space-around;
}
.best-seller-main {
  height:450px;
  border: 1px solid #838891;
  border-left: white;
  border-top: white;
  border-right: white;
}
.new-arrivals-main {
  height: 200px;
}
.best-seller-title {
  margin-top: 55px;
  margin-left: 10px;
}

.new-arrivals-title {
  margin-top: 55px;
}


.best-seller-items {
  /* width: ; */
  display: flex;
  justify-content: space-around;
  margin-right: 60px;
}

.best-seller-items .book-img img{
  width: 150px;
  height: 200px;
}
.best-seller-items .book-text {
  /* flex-wrap: wrap; */
  color: black;
  margin-left: 100px;
  margin-top: 18px; 
}

.best-seller-items .book-text p {
  color: #696e79;
  line-height: 0.5;
}


.best-seller-items a {
  display: flex;
  text-decoration: none;
}

.add-to-cart-btn {
  background-color: orange;
  font-size: 14px;
  width: 120px;
  height: 28px;
  border-radius: 50px;
  border: none;
}

/* /////////////////////FOOTER//////////////////////////////// */

.footer-main {
  margin-top: 55px;
  background-color: #2b2b2b;;
  color: white;
}

.footer-main .footer-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-main .footer-titles h5 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.footer-main .footer-titles h5 p {
  margin: 0px;
}

.footer-main .footer-titles .footer-left-end-section {
  margin-left: 10px;
}

.footer-main .footer-titles .footer-right-end-section {
  margin-right: 10px;
}
.footer-titles a {
  text-decoration: none;
  color: white;
}

.payment-options {
  display: flex;
  justify-content: left;
  margin-top: 40px;
  text-decoration: underline;
  margin-left: 10px;
}

.payment-copyright {
  display: flex;
  justify-content: space-between;
}

.payment-options img {
  height: 50px;
  width: 110px;
  margin-left: 20px;
}

.copyright {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin-right: 10px;
  width: 300px;
  align-items: flex-end;
  text-decoration: underline;
}

.mainDeliveryLocation {
  border: 2px solid rgb(223, 216, 216);
  width: 200px;
  border-radius: 4px;
  padding-top: 20px;
  padding-left: 13px;
  padding-right: 13px;
}

.mainDeliveryLocation .frontIconDelivery {
  padding-right: 5px;
}

.mainDeliveryLocation .backIconDelivery {
  padding-left: 18px;
}

.mainDeliveryLocation .dropDownBtn {
  margin-left: 18px;
  /* padding: 0px 5px; */
  border:none;
  background-color: #fff;
}

.deliveryLocation p {
  line-height: 0.5;
  font-size: 13px;
  color: rgb(136, 134, 134);
}

.deliveryLocation .locationDescription {
  line-height: 1;
}

.chooseLocationTime {
  display: flex;
  margin-top: 20px;
}

.deliveryDayEstimation {
  display: flex;
  margin-top: 13px;
  border-bottom: 1px solid rgb(223, 219, 219);
  padding-bottom: 5px;
}

.quantityPrice {
  margin-top: 13px;
}

.quantityPrice .quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(247, 243, 243);
  padding: 0px 10px;
  /* width: 180px; */
  height: 45px;
}

.quantityPrice .quantity .quantityText {
  margin-top: 8px;
}

.quantityPrice .quantity .addSub {
  font-size: 20px;
  display: flex;
  border-radius: 15px;
  background-color: white;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.mainDeliveryLocation .addToCartDelivery {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 13px;
  border-radius: 3px;
  border:none;
  background-color: orange;
}


.review-delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




