.Authorcontents {
    width:120rcap;
    height:100%;
    background: white;
    display: flex;
    align-items: center;
  }
  .AuthorbooksView-content {
    position: relative;
    width: 1485px;
    height: 650px;
    overflow-y: auto; 
    background: white;
    margin-left: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Authorbooks-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .Authorbooks-items {
    width: calc(33.33% - 20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 20px;
    margin-bottom: 50px;
  }
  
  .book-cardAuthor{
    color: inherit;
    width: 100%; 
    margin-bottom: 2px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .book-cardAuthor:hover {
      transform: scale(1.05);
    }
  
  .book-img-Author img{
    width: 155px;
    height: 200px;
  }
  
  .book-img {
      text-align:right; 
    }
  
   .Authorbook-text {
    flex: 1;
    padding: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .Authorbook-text h4 {
    margin-bottom: 5px;
    font-size: 1.5em;
    white-space: nowrap;
  }
  
  .Authorbook-text p {
    color: #696e79;
    line-height: 2;
  }
  
  
   a {
    display: flex;
    text-decoration: double;
    flex-direction: column;
  }
  
  .Authoradd-to-cart-btn {
    background-color: orange;
    font-size: 14px;
    width: 122px;
    height: 43px;
    border-radius: 50px;
    border: none;
  }
  
  .Authorbook-item-content {
    margin-top: 20px;
  }