.uploadBookContainer{
    width: 100%;
    display: flex;
}
 
.slidebar_uptoad{
    width: 40%;
}
 
.upload-form-container {
    width: 60%;
    max-width: 400px;
    margin: 0 auto;
}
   
form {
    display: flex;
    flex-direction: column;
}
   
label {
    margin-bottom: 0.5rem;
}
   
input,
textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}
   
button {
    background-color: #4caf50;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
   
button:hover {
    background-color: #45a049;
}