/* UploadBook.css

.uploadBookContainer {
    display: flex;
  }
  
.slibebar_upload {
    width: 200px;
}
  
.upload-form-container {
  flex: 1;
  padding: 20px;
}
  
.upload-form-container h2 {
    margin-bottom: 20px;
}
  
.upload-form-container form {
    display: grid;
    gap: 10px;
}

.book-title input, text{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
  
.button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
  
.button:hover {
    background-color: #2980b9;
}


   */

   .uploadBookContainer{
    width: 100%;
    display: flex;
}
 
   .slidebar_uptoad{
    width: 40%;
}
   .upload-form-container {
    max-width: 600px;
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .book_title {
    margin: 10px 0;
  }
  
  .book_title input,
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  