* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-login-wrapper {
    display: flex;
    justify-content: center;
    height: 87vh;
    align-items: center;
    background-image: url('../images/bgg.jpg');
    background-size: cover;
}

/* .bacground-images{
    width: 50%;
    height: 100%;
} */

.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(24, 23, 23, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.active{
    height: 520px;
}


.wrapper .form-box{
    width: 100%;
    padding: 40px;
  
}

.wrapper .close-icon-login{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background:#162938;
    font-size: 1em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 1.8em;
    color: #162938;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: -0.2s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.5em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .email-icon-login{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}


.register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
   
}



@media(min-width: 768px){
    .wrapper{
        width: 0px;
        height: 740px;
    }

    .wrapper.active{
        height: 820px;
    }
}

@media (max-width:280px) {
    .wrapper{
        width: 30%;
        height: auto;
    }

    .wrapper.active{
        height: auto;
    }

    .form-box h2{
        font-size: 1em;
    }

    .input-box{
        height: 35px;
        margin: 15px 0;
    }

    .input-box label{
        font-size: 0.8em;
    }

    .input-box input{
        font-size: 0.9em;
    }
    
    .input-box .email-icon-login{
        font-size: 1em;
    }

    .remember-forgot{
        font-size: 0.7em;
        margin: -10px 0 10px;
    }

    .btn{
        height: 30px;
        font-size: 0.9em;
        width: 0.5px;
    }

    .register{
        font-size: 0.7em;
        margin: 10px 0 5px;
    }

    .register p a{
        font-size: small;
    }
}