* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 
.main-Reset-wrapper{
    display: flex;
    height: 87vh;
    align-items: center;
    justify-content: center;
}


.wrapper1{
    position: relative;
    width: 80%;
    max-width: 400px;
    background: transparent;
    border: 2px solid rgba(24, 23, 23, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
}

/* .bacground-images{
    width: 50%;
    height: 100%;
} */

.wrapper1.active{
    height: 520px;
}


.wrapper1 .form-box{
    width: 100%;
    padding: 40px;
  
}

.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: -5s;
}

.inputbox input:focus~label,
.inputbox input:valid~label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.inputbox .user-icon-register{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.wrapper.active{
    height: 520px;
}

.wrapper.active .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper .form-box.register{
    position: absolute;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(24, 23, 23, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conditions{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.register-btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.conditions label input{
    accent-color: #162938;
    margin-right: 3px;
}

.conditions a{
    color: #162938;
    text-decoration: none;
}

.login{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.user-icon-register {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em; 
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #162938;

}

@media(max-width:768px){
    .form-box{
        width: 90%;
        /* margin: 0 auto; */
    }
}

@media(max-width:480px) {
    .wrapper1{
        width: 50%;
        height: auto;
    }

    .wrapper.active{
        height: auto;
    }

    /* .wrapper1 .form-box{
        padding: 15px;
    } */
    
    .form-box h2{
        font-size: 1.5em;
    }

    .inputbox{
        height: 35px;
        margin: 15px 0;
    }

    .inputbox label{
        font-size: 0.8em;
    }

    .inputbox input{
        font-size: 0.9em;
    }

    .inputbox .user-icon-register{
        font-size: small;
    }

    .conditions{
        font-size: 0.7em;
    }

    .register-btn{
        height: 30px;
        font-size: 0.8em;
    }

    .login{
        font-size: 0.7em;
        margin: 10px 0 5px;
    }

    .login p a{
        font-size: small;
    }
}
